{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
    
    <h3>Búsqueda por comisión y/o camada:</h3>
    
    <form action="buscar" method="GET">
        <input type="number" name="camada" id="camada">
        <input type="submit" value="Buscar">
    </form>

    {% if cursos != "" %}

    {% if cursos %}

    <p>Estamos buscando la comisión y/o camada número: {{camada}}</p>

    <ul>
    {% for curso in cursos %}
        <li>{{curso.nombre}}</li>
        <li>{{curso.camada}}</li>
    {% endfor %}
    </ul>

    {% else %}

    <p>No hay datos con esa descripción.</p>

    {% endif %}

    {% endif %}

    <p style="color: red;">{{respuesta}}</p>

{% endblock %}